# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Data & Models cache
*.pkl
data/raw/*.csv
data/models/*.pkl

# OS / Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
